

<h1><%= @article.title %></h1>
<hr>
<h2><%= @article.created_at %></h2>
<hr>
<%= sanitize Kramdown::Document.new(@article.content).to_html %>

<hr>
<button><%= link_to "Edit this article", edit_article_path(@article) %></button>
<button><%= link_to "Back to all articles", articles_path %></button>

<button><%= link_to "Delete this artcile", delete_article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></button>
